body {
	font-family: "Courier New", "Courier", "mono";
	color:#FFFFFF;
	background-color: #1C1C1C;
	font-size: 14px;
}

.infobox {
	float: left;
	max-width: 100%;
	width: 450px;
	height: 100%
}

.videobox {
	max-width: 100%;
	max-height: 100%;	
	text-align: center;
}

.logbox {
	position: absolute;
	bottom: 0;
}

video {
	max-width: 100%;
	max-height: 100%;
}

.logs {
	max-width: 99%;
	height: 100px;

	flex-direction: column-reverse;
	display: flex; 
	overflow-y: hidden; 
}


.avatars {
	margin-top: 40px;
	text-align: center;
}

figure {
	display: inline-block;
	width: 40%;
	margin: 0%;
}

.warning {
	color:orange
}

button {
	background-color: #4CAF50; /* Green */
  	border: none;
  	color: white;
	padding: 5px 10px;
	border-radius: 4px;
}

input {
  	border: none;
  	padding: 5px 10px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 99%;
	text-align: right;
	color: rgba(112, 128, 144, 0.5);
}

a {
	color: rgba(112, 128, 144, 0.7);
}

/*
* {
	border-style: solid;
	border-color: red;
	border-width: 1px;
}*/