body {
	font-family: "Courier New", "Courier", "mono";
	color:#FFFFFF;
	background-color: #1C1C1C;
	font-size: 12px;
}

.infobox {
	float: left;
	width: 406px;
}

.videobox {
	width: 100%;
	height: 100%;	

	text-align: center;
}

video {
	max-width: 100%;
	max-height: 100%;
}

.logbox {
	display: flex; 
	flex-direction: column-reverse;
	overflow-y: hidden; 

	height:100px; 
	max-width: 99%;
	position: absolute;
	bottom: 0;
}	

.warning {
	color:orange
}